.navbar {
    position: relative;
    border-bottom: 2px solid #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-underline .nav-link.active {
    color: #292929;
}

.nav-underline .nav-link {
    margin-right: 1rem;
}

.navbar-brand img {
    height: 64px;
    width: 78px;
}

.nav-link svg {
    position: relative;
    height: 32px;
    width: 32px;
    top: -4px;
    color: #000;
    transition: transform 0.3s ease;
}

.nav-link:hover svg {
    transform: scale(1.3);
}

/* Animacja po odświeżeniu */
.fade-navbar,
.fade-content {
    opacity: 0;
    transform: translateY(-10px);
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.fade-content {
    display: flex;
    justify-content: center;
}

.card-text {
    font-family: "Space Mono", "IBM Plex Mono", "Roboto Mono", monospace;
    color: rgb(67, 67, 67);
    font-size: large;
}

.footer {
    background-color: #1b1b1b;
    color: white;
    width: auto;
    height: 80px;
    padding: 10px;
    font-size: small;
    text-align: center;
}
